* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: none;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 720px;
  height: 648px;
  outline: none;
  touch-action: none;
}